numpy
beautifulsoup4
pandas
jupyter
matplotlib
matplotlib-inline
seaborn
SQLAlchemy
SQLAlchemy-Utils
openai
openai-whisper
opencv-python
os
zipfile
pyarrow
googletrans
translate
ipykernel
microsofttranlator
re
time
textblob
nltk
wordcloud
kaggle